.status-font {
  color: white;
}

.mag-hand-search {
  opacity: 0.5;
  position: relative;
  height: 25em;
  z-index: -1;
  overflow: hidden;
}

.search-results {
  padding: 0.25em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin: 0.25em;
}

.matches-num {
  font-size: 0.5em;
  font-style: italic;
}
