@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import '../variables.scss';

html {
  background: rgb(60, 107, 143);
  background: radial-gradient(
    circle,
    rgba(60, 107, 143, 1) 0%,
    rgba(2, 46, 81, 1) 90%
  );
  height: 100%;
  width: 100%;
}

h3,
h2,
h4,
h5 {
  font-family: 'BioRhyme', serif;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
}

.App {
  text-align: center;
}
