@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import '../variables.scss';

html {
  background-color: $blue;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
}

.App {
  text-align: center;
}
