@import '../_variables.scss';

.remove-link {
  text-decoration: none;
  color: white;
}

.mag-hand-home {
  position: fixed;
  left: -8em;
  bottom: -3em;
  height: 25em;
  z-index: -1;
  overflow: hidden;
}

.title {
  color: white;
  top: 50px;
  left: -20px;
  position: relative;
  transform: rotate(-45deg);
}

.list-wrapper {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 600px;
  height: 150px;
}

.list-wrapper li.search-four-player {
  background-size: 300px;
  background-image: url('../assets/darts-image.jpg');
  bottom: 0;
  left: 25%;
}

.list-wrapper li.search-trending {
  background-size: 300px, 300px;
  background-image: url('../assets/scrable-image.jpg');
  top: 0;
  left: 50%;
}

.list-wrapper li.search-top {
  background: rgb(232, 232, 232);
  background: radial-gradient(
    circle,
    rgba(232, 232, 232, 0.25) 0%,
    rgba(163, 180, 200, 1) 96%
  );
  bottom: -1.75em;
  left: 75%;
  transform: rotate(45deg) scale(1.2);
}

.list-wrapper li.search-two-player {
  background-repeat: no-repeat;
  background-size: 300px, 300px;
  background-image: url('../assets/gunslinger-image.jpg');
  background-color: $l-orange;
  top: 0;
  left: 100%;
}

.list-wrapper li.search-form {
  background: rgb(204, 109, 61);
  background: radial-gradient(
    circle,
    rgba(204, 109, 61, 1) 0%,
    rgba(183, 72, 3, 1) 90%
  );
  transform: scale(1.5) rotate(45deg);
  bottom: 14em;
}

.list-wrapper li {
  border: 1px solid #b74803;
  list-style: none;
  position: absolute;
  width: 200px;
  height: 200px;
  background: #000;
  margin: -100px;
  transform: rotate(45deg);
  transition: 0.5s;
  overflow: hidden;
  opacity: 0.8;
}

.list-wrapper li:hover {
  opacity: 1;
}
