@import '../variables.scss';

.game-image {
  width: 20em;
  height: auto;
  justify-content: center;
  align-content: center;
  border: $l-orange 2px solid;
}

.search-title {
  color: white;
  font-size: 30px;
}

.game-preview {
  margin: 2em;
  width: auto;
  height: auto;
  padding: 1.5em;
  background-color: rgba(163, 180, 200, 0.6);
  border-top-left-radius: 3em;
  border-bottom-right-radius: 3em;
  transition: ease 0.25s;
}

.game-preview:hover {
  background-color: rgba(163, 180, 200, 0.75);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.preview-info > * {
  text-decoration: none;
  color: white;
}

.game-title {
  color: white;
}
