@import '../variables.scss';

.game-image {
  width: 175px;
  height: 175px;
  justify-content: center;
  align-content: center;
  border: $l-orange 2px solid;
  // -webkit-box-shadow: 0px 0px 25px 15px #ffffff;
  // box-shadow: 0px 0px 25px 15px #ffffff;
  // mix-blend-mode: multiply;
}

.search-title {
  color: white;
  font-size: 30px;
}

.game-preview {
  margin: 2em;
  width: 15em;
  height: auto;
  padding: 2em;
  background-color: rgba(163, 180, 200, 0.7);
  border-top-left-radius: 3em;
  border-bottom-right-radius: 3em;
  transition: 0.25s ease all;
}

.game-preview:hover {
  background-color: rgba(163, 180, 200, 0.85);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.preview-info > * {
  text-decoration: none;
  color: white;
}

.game-title {
  color: white;
}
