@import '../variables';

.solo-view-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/game-background.jpg');
}

.view-backdrop {
  background: rgba(255, 255, 255, 0.9);
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: $d-orange 1px solid;
}

.solo-game-overview {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.solo-game-image {
  height: auto;
  width: 30em;
  -webkit-box-shadow: 0px 0px 35px 25px #ffffff;
  box-shadow: 0px 0px 35px 25px #ffffff;
}

.solo-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em;
  width: 50%;
}

.solo-game-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  margin: 3em;
}

.solo-game-description {
  text-align: start;
  margin: 2em;
  padding: 0 4em;
}

.solo-sub-details {
  width: 80%;
  padding: 1em;
  background-color: $blue;
  color: white;
}

.solo-game-title {
  border-bottom: 2px $l-orange solid;
  font-size: 4em;
  width: 70%;
  text-align: start;
}

.solo-description-wrapper {
  width: 100%;
  display: flex;
}

.solo-desc-background {
  width: 65%;
  margin: 2em 3em;
}

.solo-loading-text {
  margin-top: 40vh;
  color: white;
}

.links-section {
  display: flex;
  margin: 3em 0;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(204, 109, 61, 0.5);
  box-shadow: 0px 10px 13px -7px #000000;
  border-radius: 1em;
}

.info-link {
  padding: 1em;
}
