nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sleuth-img {
  height: 4em;
  width: 4em;
  margin: 1em;
  cursor: pointer;
}

.sleuth:hover,
.sleuth-link:hover {
  transform: translateY(1px);
}

.sleuth:active,
.sleuth-link:active {
  transform: translateY(4px);
}

.sleuth-div {
  display: flex;
  align-items: center;
}

.sleuth-link {
  text-decoration: none;
}

.sleuth-link:visited {
  text-decoration: none;
  color: white;
}
